<!DOCTYPE html>
<html ng-app="triviaTrends">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="/styles/assets/crownFavicon.png">
</head>

<body ng-controller="triviaCtrl">
  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button ng-click="model=true"><span>+</span> Add Question</button>
  </header>
  <article>
    <nav>
      <a ng-click="show=true">All Questions</a>
      <a ng-click="difficulty(1)">Easy</a>
      <a ng-click="difficulty(2)">Medium</a>
      <a ng-click="difficulty(3)">Hard</a>
      <a>Search by Animal</a>
    </nav>
    <div class="search">
      <input type="text" placeholder="Animal to search by" ng-model="animal">
    </div>
    <div  ng-show="show">

      <div class="question-wrapper" ng-repeat="question in questionData | filter: animal">
        <h3>{{question.question}} </h3>
       <div>{{question.difficulty}}</div> 
       <div class="gear">
        <img src="/styles/assets/gear.svg" alt="">
       </div>
       <ul>
        <li > 
          <input type="radio">
            <label>{{question.options["1"]}}</label>
        </li>
        <li > 
          <input type="radio">
            <label>{{question.options["2"]}}</label>
        </li>
        <li > 
          <input type="radio">
            <label>{{question.options["3"]}}</label>
        </li>
        <li > 
          <input type="radio">
            <label>{{question.options["4"]}}</label>
        </li>
       </ul>
      </div>
    </div>

    <div   class="question-wrapper" ng-repeat= "diff in difficultData">
      <h3>{{diff.question}} </h3>
      <div>{{diff.difficulty}}</div>
      <div class='gear'>
        <img src="/styles/assets/gear.svg" alt="">
      </div>
      <ul>
        <li > 
          <input type="radio">
            <label>{{diff.options["1"]}}</label>
        </li>
        <li > 
          <input type="radio">
            <label>{{diff.options["2"]}}</label>
        </li>
        <li > 
          <input type="radio">
            <label>{{diff.options["3"]}}</label>
        </li>
        <li > 
          <input type="radio">
            <label>{{diff.options["4"]}}</label>
        </li>
       </ul>
    
      </div>
    <!-- Questions go here -->

  </article>

  <div class="modal" ng-show="model" >
    <form>
      <h4 class="close" ng-click="model=false">X</h4>
      <span>Question</span><input type="text" ng-model="q.question"
      <span>Animal it's about</span><input type="text" ng-model="q.animal"
      <span>Difficulty</span>
      <div class="range">
        <input type="range" min="1" max="3" ng-model="q.difficulty">

        <h5>{{q.difficulty}}</h5>
      </div>
      <h4>Options</h4>
      <div>
        <input type="radio" name="form" ng-model="q.correct_answer" ng-value=1>
        <input type="text"  ng-model="q.options['1']" >
      </div>
      <div>
        <input type="radio" name="form"  ng-model="q.correct_answer"  ng-value=2>
        <input type="text" ng-model="q.options['2']">
      </div>
      <div>
        <input type="radio" name="form"  ng-model="q.correct_answer" ng-value=3>
        <input type="text" ng-model="q.options['3']">
      </div>
      <div>
        <input type="radio" name="form"  ng-model="q.correct_answer" ng-value=4>
        <input type="text" ng-model="q.options['4']">
      </div>

      <!--Add question buttons-->
      <div class="buttons">
        <button class="green" ng-click=addQuestion(q)>Save Question</button>
        <button>Cancel</button>
      </div>

      <!--Edit & Delete question buttons-->
      <div class="buttons">
        <button class="red">Delete Question</button>
        <button class="green">Save Changes</button>
        <button>Cancel</button>
      </div>

    </form>
  </div> -->





  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="./app.js" charset="utf-8"></script>
  <script src="trivia/triviaCtrl.js"></script>
  <script src="trivia/triviaSrvc.js"></script>
</body>

</html>